<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings esse codigo esta na nuvem -->
  <link rel="icon" href="conference.html">
  <title>Industria 4.0</title>
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='elegantcompras.css')}}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='elegant.css')}}" type="text/css"> 
<style type="text/css">
	.jmodal{
  display: none;
  position: absolute;
  width: 50%;
  top: 151%;
  left: 25%;
  height: 27%;
  box-sizing: border-box;
  padding: 20px 50px;
  border: solid 1px #aaa;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 10px #555;

}

.modal-fechar{
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  top: 0;
  right: 0;
  background-color: #BE2323;
  color: #fff;
  text-decoration: none;
}
.modal-fechar:hover{
  transition: 0.2s;
  background-color: #9A3838;
}
.modal-txt{
  font-size: 1.95em;
    line-height: 49px;
    color: #040404;
    font-weight: bold;
}

.link-tu{
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: #58ACFA;
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
  float: right;
}
.link-tu:hover{
  transition: 0.2s;
  background-color: #0040FF;
}
</style>
</head>
<body id="Industria 4.0">
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="nav-item w-25">
                <a href="home" class="nav-link">Home </a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="display-3 text-capitalize">Seleção do Produto</h1>
          <p class="lead text-muted">Components designed to fit nicely together </p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>É possivel escolher 3 tipos de peças</h2>
          <hr>
          <h1>Circulos - Quadrados - Triangulos</h1>
          <p>As peças foram feitas para simplificar o encaixe entre elas, sendo assim é possivel escolher qualquer ordem entre essas 3 peças.</p>
          <p><br /></p>
          <p><br /></p>
          <p>Para efetuar o pedido,  basta clicar sobre o botão referente a peça requerida e depois fazer sua solicitação.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Quantidade de componentes</h2>
          <div class="col-12 col-md-12 w-100 text-center text-capitalize">
            <button class="btn btn-primary m-2 w-25" id="btn1">Quadrado</button>
            <button class="btn btn-secondary m-2 w-25" id="btn2" >Triangulo</button>
            <button class="btn btn-info w-25 m-2" id="btn3">Circulo</button>
          </div>
          <hr> </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <img class="img-fluid " src="{{ url_for('static', filename='assets/styleguide/quadrado.png')}}" alt="Card image" height="5"> </div>
        <div class="col-md-4">
          <img class="img-fluid " src="{{ url_for('static', filename='assets/styleguide/bola.png')}}" alt="Card image" height="5"> </div>
        <div class="col-md-4">
          <img class="img-fluid " src="{{ url_for('static', filename='assets/styleguide/piramide.png')}}" alt="Card image" height="5"> </div>
      </div>
      <div class="row"></div>
      <div class="row">
        <div class="col-md-12 p-3">
          <table class="table table-hover table-striped table-bordered" id="tb1">
            <thead class="thead-inverse">
              <tr>
                <th scope="col"></th>
                <th scope="col">Peça</th>
                <th scope="col">Quantidade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <th scope="row">1</th>
                  <td>Quadrados</td>
                  <td id="quadrado">0</td>
              </tr>
              <tr>
                  <th scope="row">2</th>
                  <td>Triangulos</td>
                  <td id="triangulo">0</td>
              </tr>
              <tr class="bg-info">
                  <th scope="row">3</th>
                  <td>Circulos</td>
                  <td id="circulo">0</td>
              </tr>
            </tbody>
          </table>
          <div class="col-12 col-md-12 w-100 text-center text-capitalize">
            <button class="btn btn-primary m-2 w-25 jmodalabrir" id="btn4">Solicitar</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"> </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img class=" img-fluid" src="{{ url_for('static', filename='assets/styleguide/Robo.png')}}" alt="Card image"> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jmodal">
                    <a class="jmodalfechar modal-fechar" href="">X</a>
                    <p class="modal-txt">
                        
                   </p>
     </div>
 <script type="text/javascript">
$(document).ready(function() {

function updateValues(id) {
    var val = $(id).text();
    var res = parseInt(val) + 1;
    if (res == 4) {
        alert("Numero maximo de peças autorizadas.");
        res = 0;
        $(id).html(res);
    } else {
        $(id).html(res);
    }
}
  var _seletorLinkAbrir = $(".jmodalabrir");
  var _seletorLinkClose = $(".jmodalfechar");
  var _containerModal = $(".jmodal");


  $("#btn1").click(function() {
      updateValues("#tb1 #quadrado");
  });
  $("#btn2").click(function() {
      updateValues("#tb1 #triangulo");
  });
  $("#btn3").click(function() {
      updateValues("#tb1 #circulo");
  });
  
  _seletorLinkAbrir.click(function(){

      var qtdQuadrado = $("#quadrado").text();
      var qtdCirculo = $("#circulo").text();
      var qtdTriangulo = $("#triangulo").text();
      $(".modal-txt").text("Você solicitou: " + qtdQuadrado + " quadrado(s), " + qtdTriangulo + " triângulo(s) e " + qtdCirculo + " círculo(s) !!"  );


      _containerModal.fadeToggle(200);

      return false;
  });

  _seletorLinkClose.click(function(){
      var qtdQuadrado = $("#quadrado").text("0");
      var qtdCirculo = $("#circulo").text("0");
      var qtdTriangulo = $("#triangulo").text("0");

      _containerModal.fadeToggle(200);

      return false;
  });
          
});



  </script>

  <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
  </body>
  </html>